.links{
    padding: 0.5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.links > a{
    display: flex;
    flex: auto;
    justify-content: space-around;
    align-self: center;
    border-radius: 3px;
}

.links > a > div{
    align-self: center;
}
